OPTIDIET_EMAIL=twoj@email.pl
OPTIDIET_PASSWORD=twoje_haslo
OPTIDIET_ORDER_ID=
OPTIDIET_BODY_WEIGHT_KG=
OPTIDIET_PROTEIN_MIN_G_PER_KG=1.8
OPTIDIET_CALORIES_TARGET=
OPTIDIET_CARBS_MIN_G=
OPTIDIET_CARBS_TARGET=
OPTIDIET_FAT_TARGET=
